body {
    position: relative;
    height: 100vh;
    background: url("../img/land.png") no-repeat;
    background-size: cover;
    font-family: 'Fjalla One', sans-serif;
}

@import "_field.scss";

#inventory, #shop, #barn {
    position: fixed;
    background-color: rgba(95,84,74, 0.6);
    border: 3px solid rgba(95,84,74, 0.9);
    border-radius: 10px;
}

#inventory {
    left: calc(50% - 350px);
    bottom: -10px;
    width: 700px;
    height: 120px;
}

#shop {
    left: -156px;
    top: 6px;
    width: 150px;
    height: 600px;
    transition: left 0.5s ease-in-out;
    
    img{
        width: 60px;
        cursor: pointer;
    }
    span {
        color:  #b6c4ad;
    }
}

#seeds-list > div {
    margin: 20px 10px 0 20px;
}

.seed-price::after {
    content: "$";
}

#shop_btn {
    position: absolute;
    top: 44px;
    left: 84%;
    font-size: 20px;
    color: #b6c4ad;
    padding: 8px 25px;
    background-color: rgba(95,84,74,.6);
    border: 3px solid rgba(95,84,74,.9);
    border-radius: 10px 10px 0 0;
    transform: rotate(90deg);
    cursor: pointer;
}

.show_shop {
    left: -16px !important;
}

#money {
    position: fixed;
    top: 5px;
    right: 50px;
    font-size: 18px;
    color: #cfd4cc
}

#barn {
    top: 30px;
    right: -16px;
    width: 150px;
    height: 400px;
}